@model MedicalStoreManagement.Web.ViewModels.FurnitorViewModel

@{
    ViewData["Title"] = "AddFurnitor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color: darkred">Add Furnitor</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddFurnitor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Furnitor_FirstName" class="control-label"></label>
                <input asp-for="Furnitor_FirstName" class="form-control" />
                <span asp-validation-for="Furnitor_FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Furnitor_LastName" class="control-label"></label>
                <input asp-for="Furnitor_LastName" class="form-control" />
                <span asp-validation-for="Furnitor_LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Furnitor_NrPhone" class="control-label"></label>
                <input asp-for="Furnitor_NrPhone" class="form-control" />
                <span asp-validation-for="Furnitor_NrPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Furnitor_Email" class="control-label"></label>
                <input asp-for="Furnitor_Email" class="form-control" />
                <span asp-validation-for="Furnitor_Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Furnitor_Address" class="control-label"></label>
                <input asp-for="Furnitor_Address" class="form-control" />
                <span asp-validation-for="Furnitor_Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Furnitor" class="btn btn-success" />
                <input type="reset" value="Clear" class="btn btn-danger"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

