@model MedicalStoreManagement.Web.ViewModels.CustomerPivotViewModel

@{
    ViewData["Title"] = "EditUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditUpdate</h2>

<h4>CustomerPivotViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Research" class="control-label"></label>
                <input asp-for="Research" class="form-control" />
                <span asp-validation-for="Research" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" asp-items="@{new SelectList(Model.Products, "Id", "Product_Name")}">
                    <option value="">None</option>
                </select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ProductStatus" /> @Html.DisplayNameFor(model => model.ProductStatus)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

