
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<a class="btn btn-primary btn-block" asp-area="" asp-controller="Sale" asp-action="Index">Sales With Recepts</a>

<a class="btn btn-primary btn-block" asp-area="" asp-controller="SalePivot" asp-action="Index">Sales Without Recepts</a>

<a class="btn btn-primary btn-block" asp-area="" asp-controller="Purchase" asp-action="Index">Purchase Management</a>

