
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color: darkred">About</h1>

<p style="font-size: 16px">
    About for Medical Store Management
    About for Muhamed Brajshori
</p>

