

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color: darkred">Medical Store</h1>

<div class="navbar-link">
    <ul>
        <li><a class="btn btn-primary" asp-area="" asp-controller="Category" asp-action="Index">Category Management</a></li>
        <li><a class="btn btn-primary" asp-area="" asp-controller="Inventory" asp-action="Index">Inventory Management</a></li>
    </ul>
</div>